@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./buttons.css"; */
@layer components {
  .btn-primary {
    @apply nft-gradient text-sm minlg:text-lg py-2 px-6 minlg:py-4 minlg:px-8 font-poppins font-semibold text-white;
  }

  .btn-outline {
    @apply border border-[#0a85ff] dark:text-white text-[#0a85ff] bg-transparent font-poppins font-semibold text-sm minlg:text-lg py-2 px-6 minlg:py-4 minlg:px-8;
  }

  .input {
    @apply w-[550px] sm:w-[350px] h-[75px] p-[0.5rem] rounded-[15px] border-[2px] border-black;
  }
}

.nft-gradient {
  background: #2d89e6;
}

.nft-gradient1 {
  background: linear-gradient(
    101.12deg,
    #0e3abe 27.35%,
    #0e3abe 99.99%,
    #0e3abe 100%,
    #0e3abe 100%
  );
}

.white-bg {
  background: rgba(255, 255, 255, 0.2);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.home-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 12px 22px;
  color: #ffffff;
  background: #1a88f8;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8rem;
  box-shadow: 0 4px 24px -6px #1a88f8;
  transition: 200ms ease;
}

.home-button:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 40px -6px #1a88f8;
}

.home-button:active {
  transform: translateY(-3px);
  box-shadow: 0 6px 32px -6px #1a88f8;
}

@media (max-width: 600px) {
  .home-button {
    width: 300px !important;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexStartCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 100%;
  margin: 80px auto 30px;
}
.select-btn {
  display: flex;
  height: 70px;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  justify-content: space-between;
  padding: 0 16px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text {
  font-size: 17px;
  font-weight: 500;
  color: #333;
}
.select-btn .arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}
.list-items {
  position: relative;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-btn.open ~ .list-items {
  display: block;
}
.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover {
  background-color: #e7edfe;
}
.item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox {
  background-color: #4070f4;
  border-color: #4070f4;
}
.checkbox .check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item.checked .check-icon {
  transform: scale(1);
}
